<manifest
    package="com.sphericalelephant.example.sugarorm"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        tools:replace="android:icon">

        <!-- the name of our database -->
        <meta-data
            android:name="DATABASE"
            android:value="sugardb-example.db"/>
        <!-- our database schema version -->
        <meta-data
            android:name="VERSION"
            android:value="1"/>
        <!-- write select queries to log (debugging) -->
        <meta-data
            android:name="QUERY_LOG"
            android:value="true"/>
        <!-- the location of our entities, sugar will take care of the rest -->
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.sphericalelephant.example.sugarorm.entity"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
